:root {
  --primary-color: #26D07C;
  --secondary-color: #000000;
  --primary-font: 'Helvetica Neue';
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
}

body.darkMode {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

@keyframes blur {
  0% {
    filter: blur(50px);
  }
  70% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

.run-blur-animation {
  animation: blur;
  animation-duration: 0.8s;
}

@keyframes logo-blur {
  0% {
    filter: blur(5px);
  }
  /* 70% {
    filter: blur(2px);
  } */
  100% {
    filter: blur(0px);
  }
}

.logo {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  margin-top: -8px;
}

.run-logo-blur-animation {
  animation: logo-blur;
  animation-duration: 1.2s;
}

header {
  position: fixed;
  width: calc(100% - 14px);
  top: 0;
  margin: 7px 7px 0 7px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

#oAnimation_1,
#oAnimation_2,
#oAnimation_3,
#oAnimation_4,
#oAnimation_5,
#oAnimation_6 {
  display: none;
}

.darkModeButtonHeader {
  margin: 4px 0 0 20px;
  display: none;
}

.header__details {
  display: flex;
  margin-top: 13.5px;
}

main {
  margin: 0 7px;
  height: 590px;
  display: flex;
  align-items: center;
}

.main__text {
  text-transform: uppercase;
  font-size: 19px;
  text-align: right;
  font-weight: 400;
}

.main__instagram,
.main__contact {
  color: var(--secondary-color);
}

.main__instagram.darkMode,
.main__contact.darkMode {
  color: var(--primary-color);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--primary-color);
  padding: 5px 7px;
  border-top: 2px solid var(--secondary-color);
  width: calc(100% - 14px);
}

footer.darkMode {
  background-color: var(--secondary-color);
  border-top: 2px solid var(--primary-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 17px;
}

.darkModeButtonFooter {
  display: visible;
  transform: scale(1.5);
  margin-top: 3.5px;
}

.footer__spotify-container {
  display: flex;
}

.footer__onAir {
  margin: 3px 10px 0 0;
}

.footer__marquee {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}

.footer__spotify {
  animation: marquee-animation 10s linear infinite;
  display: inline-block;
}

@keyframes marquee-animation {
  0% { transform: translateX(0); }
  10% { transform: translateX(0); }
  45% { transform: translateX(calc(-100% + 250px)); }
  55% { transform: translateX(calc(-100% + 250px)); }
  90% { transform: translateX(0); }
  100% { transform: translateX(0); }
}

@media all and (orientation: landscape) {
  main {
    height: 298px
  }
  .main__text {
    font-size: 17px;
  }
}

@media all and (min-width: 375px) and (min-height: 812px) {
  main {
    height: 727px;
  }

  .main__text {
    font-size: 23px;
  }

  .footer__copyright {
    font-size: 23px;
  }

  .darkModeButtonFooter {
    margin-top: 6.5px;
  }
}

@media all and (min-width: 768px) and (orientation: landscape) {
  header {
    width: calc(100% - 30px);
    margin: 15px 15px 0 15px;
  }

  .header__text {
    font-size: 17px;
  }

  .darkModeButtonHeader {
    display: block;
  }

  main {
    height: 360px;
    margin: 0 15px;
  }
  
  .main__text {
    font-size: 21px;
  }

  footer {
    border-top: none;
    width: calc(100% - 30px);
    padding: 5px 15px 15px 15px;
  }

  footer.darkMode {
    border-top: none;
  }

  .darkModeButtonFooter {
    display: none;
  }
}

@media all and (min-width: 768px) and (orientation: portrait) {
  header {
    width: calc(100% - 30px);
    margin: 15px 15px 0 15px;
  }

  .header__text {
    font-size: 17px;
  }
  
  main {
    height: 949px;
    margin: 0 15px;
  }

  footer,
  footer.darkMode {
    border-top: 0;
    background-color: transparent;
  }

  .darkModeButtonHeader {
    display: block;
  }

  .main__text {
    font-size: 39px;
  }

  footer {
    width: calc(100% - 30px);
    padding: 5px 15px 15px 15px;
  }

  .darkModeButtonFooter {
    display: none;
  }

  .footer__copyright {
    font-size: 17px;
  }
}

@media all and (min-width: 1024px) and (orientation: landscape) {
  header {
    margin: 15px 15px 0 15px;
  }

  .darkModeButtonHeader {
    display: block;
  }
  
  main {
    height: 693px;
    margin: 0 15px;
  }

  .main__text {
    font-size: 38px;
  }

  .darkModeButtonFooter {
    display: none;
  }

  
}

@media all and (min-width: 1440px) {
  .darkModeButtonHeader {
    display: block;
  }

  header {
    width: calc(100% - 30px);
  }

  main {
    height: 900px;
  }

  .main__text {
    font-size: 53px;
  }

  .darkModeButtonFooter {
    display: none;
  }

  footer {
    width: calc(100% - 30px);
    padding: 5px 15px 15px 15px;
  }

  .footer__copyright {
    font-size: 17px;
  }
}

@media all and (min-width: 1920px) {
  header {
    width: calc(100% - 40px);
    margin: 20px 20px 0 20px;
  }

  .header__logo {
    transform: scale(1.5);
    margin-left: 35px;
    margin-top: 10px;
  }
  
  .header__text {
    font-size: 20px;
  }
  
  .darkModeButtonHeader {
    transform: scale(1.25);
    margin-top: 6px;
  }

  main {
    height: 1080px;
    margin: 0 20px;
  }

  .main__text {
    font-size: 65px;
  }

  footer {
    padding: 5px 20px 20px 20px;
    width: calc(100% - 40px);
  }

  .footer__copyright {
    font-size: 20px;
  }
}

@media all and (min-width: 3840px) {
  header {
    margin: 40px 40px 0 40px;
    width: calc(100% - 80px);
  }

  .header__logo {
    transform: scale(2.5);
    margin: 30px 0 0 100px;
  }

  .header__text {
    font-size: 30px;
  }

  .darkModeButtonHeader {
    transform: scale(2);
    margin-top: 14px;
    margin-left: 20px;
  }

  main {
    height: 2066px;
    margin: 0 40px;
  }

  .header__text {
    font-size: 30px;
  }

  .main__text {
    font-size: 131px;
  }

  footer {
    width: calc(100% - 80px);
    padding: 10px 40px 40px 40px;
  }

  .footer__copyright {
    font-size: 30px;
  }
}