@font-face {
  font-family: 'helvetica_neueregular';
  src: url('fonts/helvetica_neue_regular-webfont.woff2') format('woff2'),
       url('fonts/helvetica_neue_regular-webfont.woff') format('woff'),
       url('fonts/helvetica_neue_regular-webfont.ttf')  format('truetype');
}

:root {
  --primary-color: #26D07C;
  --secondary-color: #000000;
  --primary-font: 'helvetica_neueregular';
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: 400;
  margin: 0;
}

body.darkMode {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.page__container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px;
  width: 98%;
}

@keyframes blur {
  0% {
    filter: blur(50px);
  }
  70% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

.run-blur-animation {
  animation: blur;
  animation-duration: 0.8s;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.darkModeButton {
  margin: 2px 10px 0 0;
}

.header__details {
  display: flex;
  margin: 5px;
}
  
.header__text {
  margin: 0;
}

.main__text {
  text-transform: uppercase;
  font-size: 53px;
  line-height: 59.89px;
  margin: 900px 15px 0 15px;
  text-align: right;
}

.main__instagram,
.main__contact {
  color: var(--secondary-color);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--primary-color);
  width: 98%;
  padding: 15px;
}

footer.darkMode {
  background-color: var(--secondary-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}


@media all and (min-width: 1440px) {

}