:root {
  --primary-color: #26D07C;
  --secondary-color: #000000;
  --primary-font: 'Helvetica Neue';
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
}

body.darkMode {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

@keyframes blur {
  0% {
    filter: blur(50px);
  }
  70% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

.run-blur-animation {
  animation: blur;
  animation-duration: 0.8s;
}

header {
  position: fixed;
  width: 96%;
  top: 0;
  margin: 7px 7px 0 7px;
  /* max-height: 10vh; */
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.darkModeButtonHeader {
  margin: 4px 0 0 20px;
  display: none;
}

.header__details {
  display: flex;
  margin-top: 13.5px;
}

main {
  margin: 70px 7px 14px 7px;
  height: 83vh;
}

.main__text {
  text-transform: uppercase;
  font-size: 19px;
  text-align: right;
  font-weight: 400;
}

.main__instagram,
.main__contact {
  color: var(--secondary-color);
}

.main__instagram.darkMode,
.main__contact.darkMode {
  color: var(--primary-color);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--primary-color);
  width: 100vw;
  padding: 5px 0 5px 0;
  border-top: 2px solid var(--secondary-color);
}

footer.darkMode {
  background-color: var(--secondary-color);
  border-top: 2px solid var(--primary-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.footer__copyright {
  font-size: 17px;
}

.darkModeButtonFooter {
  display: visible;
  transform: scale(1.5);
  margin-top: 3.5px;
}

.footer__spotify {
  display: none;
}

@media all and (orientation: landscape) {
  .main__text {
    font-size: 17px;
  }
}

@media all and (min-width: 375px) and (min-height: 812px) {
  .main__text {
    font-size: 23px;
  }

  .footer__copyright {
    font-size: 23px;
  }

  .darkModeButtonFooter {
    margin-top: 6.5px;
  }
}

@media all and (min-width: 768px) and (orientation: landscape) {
  header {
    width: 96.5%;
    margin-right: 15px;
    margin-left: 15px;
  }

  .header__text {
    font-size: 17px;
  }

  .darkModeButtonHeader {
    display: block;
  }

  main {
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .main__text {
    font-size: 21px;
  }

  footer,
  footer.darkMode {
    border-top: none;
    width: 96.5%;
    margin-right: 15px;
    margin-left: 15px;
  }

  .darkModeButtonFooter {
    display: none;
  }
}

@media all and (min-width: 768px) and (orientation: portrait) {
  header {
    margin-left: 15px;
    margin-right: 15px;
  }

  .header__text {
    font-size: 17px;
  }
  
  main {
    margin-left: 15px;
    margin-right: 15px;
  }

  footer,
  footer.darkMode {
    border-top: 0;
    background-color: transparent;
  }

  .darkModeButtonHeader {
    display: block;
  }

  .main__text {
    font-size: 40px;
  }

  .darkModeButtonFooter {
    display: none;
  }

  .footer__copyright {
    font-size: 17px;
  }
}

@media all and (min-width: 1024px) and (orientation: landscape) {
  header {
    margin-left: 15px;
    margin-right: 15px;
  }

  .darkModeButtonHeader {
    display: block;
  }
  
  main {
    margin-left: 15px;
    margin-right: 15px;
  }

  .main__text {
    font-size: 40px;
  }

  .darkModeButtonFooter {
    display: none;
  }
}

@media all and (min-width: 1440px) {
  .darkModeButtonHeader {
    display: block;
  }

  .main__text {
    font-size: 53px;
  }

  .darkModeButtonFooter {
    display: none;
  }
}

@media all and (min-width: 1920px) {
  .main__text {
    font-size: 53px;
  }
}

@media all and (min-width: 1920px) {
  
}